<div class="box">
  <h1>Pica Pau</h1>
  <p class="texto">Se divirta com os botões do pica pau!</p>
  <p>
    <img
      class="center"
      src="https://thumbs.gfycat.com/AssuredSilverAfricanfisheagle-size_restricted.gif"
      alt="RoboImg"
    />
  </p>
  <iframe
    class="botao"
    width="110"
    height="200"
    src="https://www.myinstants.com/instant/bolo-de-morango-46171/embed/"
    frameborder="0"
    scrolling="no"
  ></iframe>
  <iframe
    class="botao"
    width="110"
    height="200"
    src="https://www.myinstants.com/instant/obrigado-amigo-pica-pau-25059/embed/"
    frameborder="0"
    scrolling="no"
  ></iframe>
  <iframe
    class="botao"
    width="110"
    height="200"
    src="https://www.myinstants.com/instant/pica-pau-minha-nossa-64855/embed/"
    frameborder="0"
    scrolling="no"
  ></iframe>
  <iframe
    class="botao"
    width="110"
    height="200"
    src="https://www.myinstants.com/instant/oi-meu-chapa-pica-pau/embed/"
    frameborder="0"
    scrolling="no"
  ></iframe>
  <iframe
    class="botao"
    width="110"
    height="200"
    src="https://www.myinstants.com/instant/pica-pau-pipoca/embed/"
    frameborder="0"
    scrolling="no"
  ></iframe>
  <iframe
    class="botao"
    width="110"
    height="200"
    src="https://www.myinstants.com/instant/pica-pau-perdi-meu-dinheirinho-37315/embed/"
    frameborder="0"
    scrolling="no"
  ></iframe>
  <p></p>
</div>
