<div class="box">
  <h1>Pica Pau</h1>
  <p class="texto">
    A farmacia Pica-Pau foi criada com o intuito de fornecer conforto e muita
    diversão ao cliente! Aqui você encontra uma vasta gama de produtos,desde
    Hipoglos até Hipoglos Medicinal Quantico! ATENÇÃO: Não nos responsabilizamos
    por danos causados por produtos vendidos na farmacia
  </p>
  <p>
    <img
      class="center"
      src="https://thumbs.gfycat.com/HighWanBorer-size_restricted.gif"
      alt="PicaPauImg"
    />
  </p>
</div>
