.textoSobre {
  background-color: rgb(253, 219, 160);
  border: 1px solid black;
  margin: 5% 20%;
  font-size: 25px;
  text-align: center;
  color: rgb(13, 13, 236);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
