/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(https://i.pinimg.com/originals/2b/93/e0/2b93e0b6ded8310c25c131bd8146409a.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Courier New", Courier, monospace;
  font-size: 18;
}
