<div class="box">
  <h1>Pica Pau</h1>
  <p class="texto">Cadastro de Fornecedor</p>
  <form class="form-box" [formGroup]="formFornecedor" (ngSubmit)="cadastrar()">
    <input
      formControlName="nome"
      placeholder="Nome"
      type="text"
      maxlength="64"
    />
    <input
      formControlName="cnpj"
      placeholder="CNPJ"
      type="text"
      maxlength="14"
    />
    <input
      formControlName="niver"
      placeholder="Data de Nascimento"
      type="date"
    />
    <button type="submit" [disabled]="!formFornecedor.valid">Cadastrar</button>
  </form>
  <hr />

  <table class="tabelinha">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Data de Nascimento</th>
      <th>CNPJ</th>
      <th>Produtos</th>
      <th>Documento Valido</th>
    </tr>
    <tr *ngFor="let fornecedor of list">
      <td>{{ fornecedor.id }}</td>
      <td>{{ fornecedor.nome }}</td>
      <td>{{ fornecedor.idade }}</td>
      <td>{{ fornecedor.niver }}</td>
      <td>{{ fornecedor.documento }}</td>
      <td>{{ fornecedor.produtos }}</td>
      <td>{{ fornecedor.documentoValido }}</td>
      <td>
        <button (click)="editar(fornecedor)">Editar</button>
        <button (click)="remover(fornecedor)">Remover</button>
      </td>
    </tr>
  </table>
  <p class="texto">
    {{
      formFornecedor.valid
        ? "Cadastrado com sucesso"
        : "Informações não validas"
    }}
  </p>
</div>
